/* Márgenes del diseño en general */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f9f9f9;
}

header {
    padding: 4rem 1rem;
    margin-top: 3rem;
    background-color: #e9f5e9;
    color: #155724
}


/* Menú */

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(21, 87, 36, 0.8);
    color: white;
    padding: 0.5rem 1rem;
    box-shadow: 0.2px 5px rgba(0,0,0,0.1);
    z-index: 1000;
}

.navbar ul {
    list-style: none;
    display:flex;
    justify-content: center;
    margin:0;
    padding: 0;
}

.navbar li {
    margin: 0 1rem;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #28a745;
}

/* Botones */

.season-button {
    margin: 1rem auto;
    padding: 1rem 2rem;
    font-size: 1rem;
    color: white;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow:0 4px 6px rgba(0,0,0,0.1);
    display: inline-block;
}

.season-button:hover {
    background-color: #155724;
    transform: scale(1.05);
}

/* Modal */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
    z-index: 999;
}

.modal-content {
    background: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    max-width: 600px;
    width: 90%;
    text-align: left;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    color: #6c757d;
    cursor: pointer;
}

/* Episodios */

.episode {
    background-color: #28a745;
    color: white;
    padding: 0.8rem 1rem;
    margin: 0.5rem 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    overflow: hidden;
}

.episode:hover {
    background-color: #155724;
}

.episode h4 {
    margin: 0;
    font-size: 1rem;
}

.episode-details {
    max-height: 0;
    overflow: hidden;
    color: #f9f9f9;
    margin-top: 0.5rem;
    font-size: 1rem;
    background-color: rgba(0,128,0,0.9);
    border-radius: 8px;
    padding: 0 0.5rem;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: max-height 0.3s ease, padding 0.3s ease;
    line-height: 1.5;
    text-align: justify;
}

.episode-details a {
    color: #90ee90;
    text-decoration: underline;
}

.episode-details a:hover {
    color: #ffffff;
}

